.header {
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: center;
  height: 64;
  padding-inline: 1.5rem;
  line-height: 64px;
  background-color: var(--bg-dark-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--bg-dark-color);
}
.searchIcon {
  margin-right: 1rem;
  color: var(--bg-dark-color);
}

.avatar {
  background-color: var(--bg-light-color);
}

.notification {
  color: var(--second-color);
  font-size: 24px;
}

.input {
  font-weight: 400;
  color: var(--bg-dark-color);
}
