.active {
  position: relative;
  background-color: var(--bg-light-color);
  &::before {
    content: "";
    width: 2px;
    background-color: var(--main-color);
    position: absolute;
    height: 100%;
    top: 0;
    right: -2px;
    border-radius: 2px;
  }
}