.layout {
  border-radius: 8;
  overflow: hidden;
  width: 100%;
  background-color: var(--bg-dark-color);
  color: var(--second-color);
}
.layoutContent {
  background-color: var(--bg-dark-color);
}
