.title {
  text-align: left;
}
.subTitle {
  text-align: left;
}
.titleWrapper {
  margin-bottom: 12px;
}

.wrapper {
  display: grid;
  gap: 10px;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
}

.footer {
  display: grid;
  gap: 8px;
}

.imageWrapper {
  position: relative;
}
.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.player {
  height: 100%;
  width: 100%;
  justify-self: center;
}

.playerWrapper {
  padding: 0 120px 24px 120px;
}
