.content {
  text-align: center;
  min-height: 800px;
  height: 100%;
  line-height: 120px;
  color: #fff;
  background-color: var(--bg-dark-color);
  margin-inline: 2.5rem;
  padding: 24px 0 48px 0;
}
.layout {
  border-radius: 8;
  overflow: visible;
  background-color: var(--bg-dark-color);
  color: var(--second-color);
}
.layoutContent {
  background-color: var(--bg-dark-color);
  width: 100%;
}
