.wrapper {
  display: grid;
  grid-template-columns: auto 320px;
}

.playerWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  padding-top: 56.25%;
  position: relative;
}
.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
}
.route {
  width: 320px;
  height: 100%;
  background-color: var(--bg-light-color);
}
