:root {
  --main-color: #fee9e6;
  --second-color: #f6f3f3;
  --bg-dark-color: #1a1a1d;
  --bg-light-color: #4e4e50;
  --bg-color: #25262d;
  --primary-color: #950740;
  --primary-light-color: #c3073f;
  --primary-dark-color: #6f2232;
}
